version: 2
updates:
  - package-ecosystem: "gomod" # See documentation for possible values
    directory: "src/" # Location of package manifests
    schedule:
      interval: "weekly"
  - package-ecosystem: "gitsubmodule"
    directory: "src/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
  - package-ecosystem: "docker"
    directory: "src/"
    schedule:
      interval: "weekly"
